// commented out due to suspected conflict
// apply css per need basis
// check the "search" page see if map renders
// Garima

// *{
//   padding:0;
//   margin:0;
//   overflow-x:hidden;
// }

h1 {
    color: rgb(45, 62, 79);
    text-align: center;
    margin-top: -34px;
}

footer {
font-size: 0.8em;
background-color: rgb(253, 183, 120);
line-height: 71px;
position:absolute;
bottom:0;
width:100%;
 z-index: -1

}

.carousel-caption {
    top: 50%;
    bottom: auto;
}

.postal{
  margin-bottom: 10px;
}

#gif{
  height: 600px;
  margin-top: 0px;
  margin-left: 269px;
}
.navbar{
-webkit-margin-after: 0px;
}
// .navbar-brand{
//   font-size: 25px;
//   font-weight: bold;
//   font-family: 'Itim', cursive;
//   color: black!important;
//   text-align: center!important;
//   line-height: 35px;

// }

// .navbar-header{
//   float:right;


// }

.ownerbuttons{
  float:left;
}

 .walker-details, .Dog-profile, .job-post, .owner-details{
  width: 500px;
  margin:auto;
  margin-top: 109px;

}

#postal,#unit,#pro,#con,{
  width: 200px;
  resize: horizontal;
  overflow: auto;
  margin-right: 15px;
  height: 30px;
}

#list-home-list{
  background-color:rgb(45, 62, 79) ;
  border-style:solid;
  border-color: black;
  color:white;
}
  .list-group-item{
    border: 4px solid #ddd !important;
  }

#dogpup{
  float:right;
  height: 400px;
  margin-top: 110px;
}

// .smallbox{
//   clear: both;
//   overflow: hidden;
// }

.form-group1{
  float:left;
}

#walker-submit{
  margin-left: 100px;
}

#backbtn{
  margin-left: 97px;
}

// #login{
//   margin-right: 15px;

// }


// #reg{
//  float:center;
// }

#next{
  float:right;
}

#choose{
  margin-left: 21px;
  width: 260px;
  height: 30px;
}

#bankname{
  margin-left: 28px;
}
// .image_box{
//   height:300px;
//   img{
//     width:323px!important;
//     height:300px!important;
//     float:right;

//   }
// }

#about-us{
font-size: 22px;
}

#about{
  text-align: center;
  margin-top:30px;

}

div#OR {
  height: 30px;
  width: 30px;
  border: 1px solid #C2C2C2;
  border-radius: 50%;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  float: right;
  position: absolute;
  right: -16px;
  top: 40%;
  z-index: 1;
  background: #DFDFDF;
}

.home{
  float: left;
  margin-left:25px;
  line-height: 68px;
  margin-right: 48px;

}

// .carousel-inner
// {
//   height:720px;
// }
#chooseprofile{
  width: 500px;
  margin:auto;
  height:40%;
  text-align: center;
  margin-top:100px;
}

// #dog{
//   // max-width: 99%;
//   // max-height: 99%;
//   display: block;
//   margin: 0;
//   height: 910px;
//   width: auto;
// }

// img{
//   height: 910px;
//   width: auto;
//     // max-width: 300px!important;
//     // max-height: 300px!important;
// }
.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}


.loginBtn-google {
  background: #DD4B39;
}
.loginBtn-google::before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  content: "";
}
.loginBtn-google:hover,
.loginBtn-google:focus {
  background: #E74B37;
}


.marginabout{
  margin-bottom:135px;
  margin-top: 40px;

}

// // .nav-tabs {
// //     margin-bottom: 24px!important;
// // }
.sign-with {
    margin-top: 25px;
    padding: 20px;
    border-top: 1px solid #e5e5e5;
    padding:0 0 20px 0;
    h3{
      padding: 5px 0;
    }
 }
.divTag {
  border-right: 1px dotted #C2C2C2;
  padding-right: 30px;
}

// .nav-tabs {
//   margin-bottom: 15px;
// }
.sign-with {
  margin-top: 25px;
  padding: 20px;
}

#main{
  height: 800px;
  width: 700px!important;
  margin-left: 250px !important;
}

.walker-near-me, .jobs-near-me{
  background-color: rgb(148, 196, 83)
}


.btn-default{
  background-color:#93c54b;
  color:#393a35;
}

.btn-danger{
  background-color: #325d88;
}

#logout{
  color: #fcf8e3;
}

// #dog-detail{
//   text-align: center;
// }


// react-Datetime

.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}
